[user]
	name = Xingfei Xu
	email = xingfeixu@microsoft.com
[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !gh auth git-credential
[credential "https://dev.azure.com"]
	useHttpPath = true
[core]
	excludesFile = /home/xingfeixu/.gitignore
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[push]
	autoSetupRemote = true
[credential]
	helper = /home/linuxbrew/.linuxbrew/bin/git-credential-manager
	credentialStore = cache
	azreposCredentialType = oauth
	msauthFlow = system
	guiPrompt = false
[credential "azrepos:org/msazure"]
	username = xingfeixu@microsoft.com
