git/*
clash/*.mmdb
clash/.cache
iterm2
karabiner/assets/*
karabiner/automatic_backups/*
Nuget
*bersicht*
nvim
Workflows
Quicklook

Library/Application Support/LaunchBar/Actions/bb.lbaction

Library/Application Support/Hazel/*
!Library/Application Support/Hazel/license