[submodule "hammerspoon/Spoons/VimMode.spoon"]
	path = home/.hammerspoon/Spoons/VimMode.spoon
	url = https://github.com/dbalatero/VimMode.spoon.git
[submodule "eza-themes"]
	path = home/.config/eza-themes
	url = https://github.com/eza-community/eza-themes.git
