[user]
	name = Xingfei Xu
	email = xingfeixu@microsoft.com
[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !gh auth git-credential
[credential "https://dev.azure.com"]
	useHttpPath = true
[core]
	excludesFile = ~/.gitignore
	compression = 0
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[push]
	autoSetupRemote = true
[credential]
	helper = git-credential-manager
	credentialStore = cache
	azreposCredentialType = oauth
	msauthFlow = system
	guiPrompt = false
[credential "azrepos:org/msazure"]
	username = xingfeixu@microsoft.com
	azureAuthority = https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47
[http]
	postBuffer = 524288000
	lowSpeedLimit = 0
	lowSpeedTime = 999999
